html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.container-canvas {
    flex-grow: 1;
    min-width: 0;
}

.container-prefs {
    flex-grow: 1;
    width: 50%;
    max-width: 300px;
    min-width: 0;
    background: red;
}