html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.container-canvas {
    flex-grow: 1;
    min-width: 0;
}

.container-prefs {
    flex-grow: 1;
    width: 50%;
    max-width: 300px;
    min-width: 0;
    margin: 1rem;
}

.group-container {
    border: 0.1rem solid darkgray;
    border-radius: 16px;
    padding: 0.5rem;
    position: relative;
    margin: 1rem 0;
}

.group-container-grid {
    display: grid;
    grid-template-columns: max-content auto;
    justify-items: end;
    gap: 0.5rem;
}

.group-container-grid > input {
    width: 100%;
}

.group-container-title {
    position: absolute;
    top: -0.9rem;
    left: 1rem;
    background: white;
}